@using Dashboard.Entities
@model Article
@{
    ViewData["Title"] = "Détails";
}

<div class="container mt-5 article-page">
    <h1>@Model.Titre</h1>
    <p class="text-muted">Publié le @Model.DateCreation.ToLocalTime()</p>
    @if (Model.Labels?.Any() ?? false)
    {
        <p class="text-muted">Labels:
            @foreach(var l in Model.Labels){<span class="badge bg-secondary me-1">@l.Name</span>}
        </p>
    }

    <div class="mb-5 article-content card">
        @Html.Raw(Model.Contenu)
    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifier</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Supprimer</a>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>